/* Base Styles */
body {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 300;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: lust-display, serif;
    font-weight: 400;
}

h5 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #444;
}

/* Landing */
.demo-image {
    width: 100%;
    display: block;
}

.hover-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.hover-layer {
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.85);
}

.hover-layer:hover {
    opacity: 1;
}

.hover-text {
    font-size: 14px;
    position: relative;
    top: 25%;
}

.design-card {
  font-family: lust-display, serif;
  font-weight: 400;
}

/* Blog Post */
.post-nav {
    list-style: none;
    padding: 0;
}

.container.content {
    padding-bottom: 40px;
}

/* Utilities */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}
