/* Grid */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 100%;
}

@media (min-width: 800px) {
    .col {
        flex: 1;
    }
}

/* Helpers */
.full-width {
  width: 100%;
  box-sizing: border-box;
}

.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-0 {
    margin-top: 0;
}
